
<ng-template #elseBlock>
  <div>
    <h1>k-Dramas Top</h1>
  </div>
</ng-template>
<h2>Lista de Dramas</h2>
<p-splitter [style]="{ height: '300px' }" styleClass="mb-8">
  <ng-template #panel >
    <p-card header="Simple Card" class="flex items-center justify-center h-full">
      <p class="m-0">
        
      </p>
    </p-card>
  </ng-template>
  <ng-template #panel >
    <p-card header="Simple Card" class="flex items-center justify-center h-full">
      <p class="m-0">
        
      </p>
    </p-card>
  </ng-template>
</p-splitter>

<ul *ngFor="let drama of dramas">
  <li>{{ drama.Name }} ({{ drama.Year}}) - ⭐{{ drama.Rating }} - {{drama.Watchers}}</li>
</ul>
<app-top-data/>
<router-outlet />
